@{
    ViewBag.Title = "Login1";
}

<h2>Login1</h2>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <!--link href="StyleSheet.css" rel="stylesheet" type="text/css" />-->
    <link href="../../Content/StyleSheet.css" rel="stylesheet" type="text/css" />




</head>
<body>

    <div>
        <div id="head">
            <table width="20%" cellspacing="5%">
                <tr>
                    <td>
                        <img src="../../Content/index.f.png" style="width: 86%; height: 56px;" />
                    </td>
                    <td class="style1"><input type="button" value="Login As" style="background-color:green;font-color:white; boder-radious:2px width:45px;" /></td>
                </tr>

            </table>
        </div>
        <div id="sub">
            <table width="30%" cellspacing="8%" class="cl">
                <tr><td align="left">Facebook Login</td></tr>
               <br />
                <br />

                <tr><td align="center">Login as:</td></tr>
                <tr>
                    <td align="center">Password:</td>
                    <td align="center"><input type="text" /></td>
                </tr>
                <tr><td align="center"> <input type="checkbox" /></td><td>Keep ma logined</td></tr>
                <tr><td align="center"><img src="../../Content/images1.jpg" width="30%" /></td><td>or Signup for facebook</td></tr><
                <tr><td align="center">Forgotten password.</td></tr>
            </table>
        </div>
    </div>



</body>
</html>

