@{
    ViewBag.Title = "srch";
}

<h2>srch</h2>


    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>srch</title>
        <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="background-color:#3b599f; height:80px;">
                    <input type="text" style="margin-top:9px; margin-left:20px" /><input type="submit" class="icon-search" value="S" id="ser' style=" color:silver; height:18px;" />
                    <img src="../../Content/img.jpg" style="margin-left:15px;width:35px;" /><label style="color:White;">Haris</label><input type="submit" class="btn-primary" value="Log Out" style=" margin-left:80px; height:30px;" />
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="background-color:Silver; width:220px; height:637px; margin-top:0;">
                    <img src="../../Content/img.jpg" style="margin-left:5px; margin-top:3px; height: 37px;" />Haris N P<br /><br />
                    <img src="../../Content/images.png" style="margin-left:5px; margin-top:3px; height:37px" /> Edit profile
                </div>

                <div class="col-md-7" style="background-color:Silver; width:522px;">
                    <pre style="width:500px;">
                    <img src="../../Content/bird-png-15.png" style="height:98px; margin-left:30px;" /><label>Scoot Mcmiller</label><input type="submit" value=" Add Friend" style="margin-left:20px; " /></pre>
<pre style="width:500px;">
<img src="../../Content/download%20(1).jpg" style="width:98px; margin-left:30px;" /><label> Mia Oracullo</label><input type="submit" value="Add Friend" style="margin-left:20px;" /></pre>
<pre style="width:500px;">
<img src="../../Content/download.jpg" style="width:98px; margin-left:30px;" /><label>Carg Million</label><input type="submit" value="Add Friend" style="margin-left:20px;" />

</pre>
<pre style="width:500px;">
<img src="../../Content/rose.png.jpg" style="width:98px; margin-left:30px;" /><label>EiMcmillion</label><input type="submit" value="Add Friend" style="margin-left:20px;" /></pre>
<pre style="width:500px;">
<img src="../../Content/images.png" style="width:98px; margin-left:30px;" /><label>Jacklyn Mcmillion</label><input type="submit" value="Add Friend" style="margin-left:20px;" /></pre>
                </div>
                <div class="col=md-1" style="background-color:Silver; height:600px; width:419px; margin-top:19px;"><pre style="height:578px;">TRENDING</pre></div>
            </div>
        </div>



    </body>
</html>

