@{
    ViewBag.Title = "verify 1";
}





    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <script runat="server">

        protected void Page_Load(object sender, EventArgs e)
        {

        }
    </script>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>verify 1</title>
        <!-- <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
        <link href="../../content/boostrap/bootstrap.css" rel="stylesheet" />

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
    <body>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 " style="background-color:#3b599f; width:350px; height:130px; margin-left:200px; margin-top:50px;">
                        <img src="../../content/images/index.f.png" style="height:130px; width:350px; margin-left:0px;">
                    </div>

                </div>
            </div><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-md-7" style="margin-left:260px; "><h1>Verify email</h1></div>
                </div>
            </div><br />
            <div class="container">
                <div class="row">
                    <div class="col-md-1" style="margin-left:110px;">
                        <pre style="height:100px; width:530px;">
         We sent an email to make your want to own
        it,pleasecheck your inbox then follow the
         instruction to finish setting uping your.</pre>
                    </div>
                </div>
            </div><br /><br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-md-3"
                         style="margin-left:128px; background-color:Gray; height:31px; width: 524px; margin-bottom: 2px;"><center style="margin-top:5px;">Resend email</center></div>

                </div>
            </div><br /><br />
            <div class="container">
                <div class="row -md-1" style="margin-left:138px;">
                    <a href="#" style="text-decoration:none; color: #249ff4">Terms of Use</a>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" style="text-decoration:none; color: #249ff4">Privacy & Cookies</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="text-decoration:none; color: #249ff4">Signout</a>

                </div>
            </div>

        </div>
    </body>
</html>
