@{
    ViewBag.Title = "verify 2";
}

<h2>verify 2</h2>


    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>Verify 2</title>
        <!-- <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />-->
        <link href="../../content/boostrap/bootstrap.css" rel="stylesheet" />
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    </head>
    <body>
        <div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12" style="background-color:#3b599f; height:80px;width:450px; margin-left:303px">
                        <label style="color:White; margin-left:140px; margin-top:23px;"><h3>Sign up for facebbok</h3></label>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <pre style="margin-left:302px; margin-right:240px; height:850px;"<div class="col-md-12"><label><h5>First Name</h5></label><input type="text" style="width:250px;"><label><h5>Surname</h5></label><input type="text" style="width:250px;" /><label><h5>Phone number Or Email adress</h5></label><input type="text" /><input type="text" /><!--<input type="submit"  style="margin-left:-6px; margin-top:2px; height:40px;"  class="btn-success" value="Browse file" />--> 
                    <button class="browse btn btn-success"<button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-globe"></span>Browse file
</button><input type="file" style="background-color:Green;">


       
          
                    <label><h5>Gender</h5></label>
                    <select><option>Select</option></select>
                    <input type="text" placeholder="dd" />/
                    <input type="text" placeholder="mm" />/
                    <input type="text" placeholder="yyy" />
                    <label><h5>New password</h5></label><br /><input type="text" />
                    <label>By clicking sign up,you agree to our<a href="#">facebook terms</a> and that you have read our<a href="#">Data Policy</a>,Including our<a href="#">Cookies Use</a>.you may recive SMS Notification From Facebookand Can out at anytime</label>
                    <input type="submit" class="btn" style="width:440px; background-color:#aed6f1;" />

    
    </div></pre>
                </div>
            </div>
        </div>



    </body>
</html>

