body 
{
    background-color: #ebebef;
}
#head
{
    height:90px;
    width:1300px;
    background-color:#3b5998;
}
#sub
{
    height:250px;
    width:600px;
    margin:solid;
    margin-top:150px;
    margin-left:200px;
}
.cl
{
    background-color:White;
    height: 241px;
    width: 108%;
}